 body{
    height: 100vh;
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    background-color: rgb(88, 58, 58);
    background-image: url('pexels-justin-hamilton-16109-92248.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

h1{
    border-radius: 4px;
    font-size: 1.5em;
    background-color: rgb(0, 0, 88);
    color: white;
    padding: 15px;
    
}

h2{
    font-size: 1.2em;
}

select{
    width: 135px;
    height: 25px;
}

input{
    padding: 3px;
    width: 190px;
}

input#botao{
    width: 135px;
    background-color: rgb(53, 184, 53);
    border-radius: 15px;
}

footer{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgba(255, 255, 255, 0.308);
    box-sizing: border-box;
    padding: 10px;
}

