@charset "UTF-8";

body{
    background-color: rgb(61, 61, 252);
    font: normal 1em Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

div{
    text-align: center;
    padding: 3px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
